.table100{
   table{ border-collapse: collapse; border-radius: 11px; box-shadow: #c19b9b 2px 4px 100px; table-layout: fixed;
        thead{ background: #e59090; }
        th{ border: none; }
        td{ border-bottom: 1px red;
            button{ border: none; color: #dc3545; transition: font-size .2s;
                &:hover{ font-size: 18px; border-radius: 15px; box-shadow: red 1px 1px 14px; }
            }
        }
}
}

.category-modal-item{ background: #dc3545bd; color: white; padding: 5px; border-radius: 5px; margin: 17px 7px 13px 9px;
}
