.header{ margin-top: 50px; font-family: "Roboto Mono", monospace; font-size: 20px; font-weight: bold; transition: font-size .2s;
    &:hover{  font-size: 25px; }
}
.modify-news-container{ width: 70%;  box-shadow: #ff000047 3px 4px 100px; border-radius: 10px; margin-top: 15px; padding: 56px;
    label{ font-family: "Roboto Mono", monospace; }
     .text-selector{

    }
    .image-selector{}
    .body-selector{}
}
